<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>收藏商品</title>
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/top_bottom.css" />
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/collect.css" />
	</head>
	<body>
		<div class="mainDiv">
			<div class="background">
				<iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/front_common/top.html" width="100%"  height=""></iframe>
				
				<div class="bodyDiv">
					<div class="title">收藏商品</div>
					<div class="container">
					
					<!-- 用循环显示goods -->
					
						<div class="goods">
							<div class="photo">
								<img src="/DangDangBook/public/front_static/img/goods/9787111213826/index.jpg" />
							</div>
							<div class="goodsName">Java编程思想</div>
							<div class="detail">
							<div class="price">￥66.2</div>
							<div class="check"><a href="detail.html">查看</a></div>								
							</div>
						</div>
						<div class="goods">
							<div class="photo">
								<img src="/DangDangBook/public/front_static/img/goods/9787115130228/index.jpg" />
							</div>
							<div class="goodsName">Primer Plus</div>
							<div class="detail">
							<div class="price">￥56</div>
							<div class="check"><a href="">查看</a></div>								
							</div>
						</div>
						<div class="goods">
							<div class="photo">
								<img src="/DangDangBook/public/front_static/img/goods/9787111526285/index.jpg" />
							</div>
							<div class="goodsName">Go程序设计语言</div>
							<div class="detail">
							<div class="price">￥66</div>
							<div class="check"><a href="">查看</a></div>								
							</div>
						</div>
						<div class="goods">
							<div class="photo">
								<img src="/DangDangBook/public/front_static/img/goods/9787111532644/index.jpg" />
							</div>
							<div class="goodsName">架构即未来</div>
							<div class="detail">
							<div class="price">￥81</div>
							<div class="check"><a href="">查看</a></div>								
							</div>
						</div>
						<div class="goods">
							<div class="photo">
								<img src="/DangDangBook/public/front_static/img/goods/9787111545682/index.jpg" />
							</div>
							<div class="goodsName">Linux运维最佳实践</div>
							<div class="detail">
							<div class="price">￥56.5</div>
							<div class="check"><a href="">查看</a></div>								
							</div>
						</div>
						<div class="goods">
							<div class="photo">
								<img src="/DangDangBook/public/front_static/img/goods/9787111563891/index.jpg" />
							</div>
							<div class="goodsName">面向机器智能</div>
							<div class="detail">
							<div class="price">￥57</div>
							<div class="check"><a href="">查看</a></div>								
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/front_common/bottom.html" width="100%"  height="400px"></iframe>
		</div>
	</body>
</html>
