<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/myOrder2.css" />
		<!--  <link rel="stylesheet" href="/DangDangBook/public/front_static/css/myOrder.css" />-->
		<!--<link rel="stylesheet" href="css/orderStatus2.css" />-->
		<script>
		
		</script>
	</head>

	<body>
		
		<div class="mainDiv">			
			{include  file="./public/front_common/top.html"/}
			
			<div class="mid">
				<div class="myList">
					<div class="menuDiv">
						<div class="manageDiv" onmouseover="dingdanOn('manageDiv2');"onmouseleave="dingdanDown('manageDiv2');">
							<img src="/DangDangBook/public/front_static/img/myOrder/myOrder.png" />
							<span id="accountManage">我的订单</span>
							<img src="/DangDangBook/public/front_static/img/myOrder/myOrder1.png" class="rightEle" />
						</div>
					
					</div>
				</div>
				<div class="orderList">

					<div class="beijing">
					<div class="pages">{$page}</div>	
					{foreach $showorders as $showorder }
					<div style="margin: 0 auto;width:999px;background-color:#e3e3e3;text-align:center;">
					<table width="999px" border="0px" cellpadding="0"
							cellspacing="0" style="margin: 0 auto;width:999px;">
						<tr>
							<td width="249" height="30">订单编号：{$showorder.orderID}</td>
							<td>订单金额：{$showorder.totalPay}</td>
							<td>
								支付状态：
									<!-- 订单状态判断 ，未付款订单允许删除！-->
									{switch name="$showorder.orderStatus"}
									{case value="未付款"}
									<a href="{:url('order/orderPay')}"><font color="red">去付款&nbsp;|</font></a>
									<a href="{:url('order/deleteOrder')}"><font color="red">删除订单</font></a>
									{/case}
									{case value="未发货"}											
											<a><font color="#ff8600">等待发货</font></a>	
									{/case}
									{case value="已发货"}											
											<a href="{:url('order/getPackage')}?orderID={$showorder.orderID}"><font color="#0aa2ed">已发货&nbsp;|&nbsp;确认收货</font></a>	
									{/case}
									{default /}<font color="#0aaa0a">{$showorder.orderStatus}</font>&nbsp;&nbsp;
									{/switch}
							</td>
							<td><a href="{:url('order/orderStatus')}?orderID={$showorder.orderID}" style="font-weight:bold;">订单详情>></a></td>
						</tr>
					</table>
					</div>
						<div style="margin: 0 auto;width:999px;">
						<table width="999px" border="0" cellpadding="0"
							cellspacing="1" style="background:#d8d8d8;color:#333333">
							<tr>
								<th width="249" height="30" align="center" valign="middle" bgcolor="#f3f3f3">商品图片</th>
								<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">商品名称</th>
								<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">原价</th>
								<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">现价</th>
								<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">购买数量</th>
								<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">总价</th>
								<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">商品评价</th>
							</tr>
							
						{foreach $orderlists as $showorderlist }
							{if $showorderlist.orderID eq $showorder.orderID}
							<tr>
								<td align="center" valign="middle" bgcolor="#FFFFFF">
								<a href="{:url('bookdetail/detail')}?bookID={$showorderlist.bookID}">
									<img src="{$showorderlist.bPicture}" border=0 width=120px height=130px></a>
								</td>
								<td align="center" valign="middle" bgcolor="#FFFFFF">{$showorderlist.bName}</td>
								<td align="center" valign="middle" bgcolor="#FFFFFF">{$showorderlist.bPriceB}元</td>
								<td align="center" valign="middle" bgcolor="#FFFFFF">{$showorderlist.bPriceS}元</td>
								<td align="center" valign="middle" bgcolor="#FFFFFF">{$showorderlist.num}件</td>
								<td align="center" valign="middle" bgcolor="#FFFFFF">{$showorderlist.num*$showorderlist.bPriceS}元</td>
								<td align="center" valign="middle" bgcolor="#FFFFFF">
									{if($showorder.orderStatus eq '已收货')}
										{if($showorderlist.ifComment eq 0)}
										<a href="{:url('comment/comment')}?bookID={$showorderlist.bookID}&SLID={$showorderlist.SLID}">评价</a>
										{else /}
										<a href="{:url('bookdetail/detail')}?bookID={$showorderlist.bookID}">已评价</a>
										{/if}
										{else /}
										<font>等待收货</font>
									{/if}
									
								</td>
							</tr>
									{/if}
								{/foreach}
				
				
						</table>		
						<div class="Order_price">{$showorder->totalPay}元</div>	
					</div>
					{/foreach}			
					</div>
					<br />
					<div class="pages">{$page}</div>					
				</div>
			</div>			
					<iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/front_common/bottom.html" width="100%"  height="400px"></iframe>
		
		</div>

	</body>

</html>