<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/unify.css" />
		<!--<link rel="stylesheet" href="css/orderStatus1.css" />-->
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/orderStatus2.css" />
	</head>

	<body>
		<div class="mainDiv">
			{include  file="./public/front_common/top.html"/}
			<div class="orderDetail"> 
					<table cellspacing="0" cellpadding="0">
						<tr class="orderTitle">
							<td colspan=3 class="orderInfTitle">
								订单信息
							</td>
							<td colspan=3 class="custInfTitle">
								收货人信息
							</td>
						</tr>
						<tr class="orderTitle">
							<td colspan=3 class="orderInf">
								订单编号：{$showorder.orderID}<br/>
								创建时间：{$showorder.createTime}<br/>
								订单金额：{$showorder.totalPay}<br/>
								订单状态:
								{switch name="$showorder.orderStatus"}
								{case value="未付款"}
								<a href="{:url('order/orderPay')}"><font color="red">去付款&nbsp;|</font></a>
								<a href="{:url('order/deleteOrder')}"><font color="red">删除订单</font></a>
								{/case}
								{case value="未发货"}											
										<a href=""><font color="#ff8600">等待发货</font></a>	
								{/case}
								{case value="已发货"}											
										<a href="{:url('order/getPackage')}?orderID={$showorder.orderID}"><font color="#0aa2ed">已发货&nbsp;|&nbsp;确认收货</font></a>	
								{/case}
								{default /}<font color="green">{$showorder.orderStatus}</font>&nbsp;&nbsp;
							{/switch}<br/>
							</td>
							<td colspan=3 class="custInf">
									<span class="xxMS">收件人：{$showorder.custName}</span><br/>
									{if $showorder.packageID!=0}
									<span class="xxMS">快递单号：{$showorder.packageID }</span><br/>
									{else/}
									<span class="xxMS">快递单号：未发货</span><br/>
									{/if}
									<span class="xxMS">联系电话：{$showorder.custMobile}</span><br/>
									<span class="xxMS">收货地址：{$showorder.custAddress}</span><br/>
							</td>
						</tr>
						<tr class="shoplistTitle">
							<td>图书编号</td>
							<td></td>
							<td>图书信息</td>
							<td>购买价格</td>
							<td>购买数量</td>
							<td>实付款</td>
						</tr>
						<!--  <tr>
							<td colspan="4"><div class="line"></div></td>
						</tr>-->
						{foreach $showshoplists as $showshoplist}
						<tr class="shoplist">
						<td >{$showshoplist.bookID}</td>
							<td ><img src="{$showshoplist.bPicture}"/></td>
				
							<td>{$showshoplist.bName}<br/><br/>{$showshoplist.bAuthor}[著]<br/><br/>{$showshoplist.bPublisher}[出版]</td>
				
							<td>￥{$showshoplist.bPriceS}</td>
							<td>{$showshoplist.num}件</td>
							<td>￥{$showshoplist.num*$showshoplist.bPriceS}</td>
						</tr>
						{/foreach}
			</table>
			</div>
			<iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/front_common/bottom.html" width="100%"  height="400px"></iframe>
		</div>
	</body>

</html>