a{
	color: gray;
	transition: 0.3s;
}
a:hover{
	color: #0AA2ED;
}
.topDiv{
	height: 110px;
}

.topUp{
	width:99%;	
	height:100px;

}

.topBottom{
	width:99%;
	height:50px;

}

.topDiv .topLeftDiv {
    float: left;
    width: 300px;
    height: 50px;
    margin-top: 25px;
    margin-left: 40px;
    font-size: 25px;
    font-weight: bold;
}

.topLeftDiv img{
	
}

.topDiv .topMiddleDiv{
	float: left;
	width: 500px;
	height: 80px;
	margin-top: 25px;/*上外边距*/
	margin-left: 15%;
	text-align: center;
}

.topDiv .topMiddleDiv .topMiddleDiv_searchText{
	float: left;
	border: coral solid 1px;
	width: 400px;
	height: 30px;
	margin: 0px auto;
	margin-top: 10px;
}

.topDiv .topMiddleDiv .topMiddleDiv_submitBtn{
	float: left;
	background-image: url(../img/header/search.png);
	width: 40px;
	height: 40px;
	margin: 0px auto;
	margin-top: 6px;
	margin-left: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

.topDiv .topRightDiv{
	float: right;
	height: 50px;

}

.topDiv .topRightDiv ul{
	height: 30px;	
}

.topDiv .topRightDiv ul li{
	float: left;
	list-style:none; /* 将默认的列表符号去掉 */
	text-align: center;
	margin-right:15px;
	font-size: 1.2em;
}


.footer{
	width: 100%;
	height: 400px;
	
}

.footer div{
	float: left;
}

.footerTop{
	width: 100%;
	height: 49%;
	float: left;
	margin: 0px auto;
	background-color: rgba(245,245,245,1);
	
	
}

.footerTop ul{
	margin: 0 auto;
	display: table;
	margin-top: 4%;
}

.footerTop ul li{
	text-align: center;
	float: left;
	list-style:none; /* 将默认的列表符号去掉 */
	width: 270px;
	
}
.footerTop ul li img{
	margin: 0 auto;
	display: block;
	margin-bottom: 5px;
}

.footerBottom{
	float: left;
	margin: 0px auto;
	padding-top: 20px;
	width: 100%;
	height: 40%;
	background-color: white;
}

.footerBottom div{
	float: left;
	margin: 0px auto;
}

.footerBottom .footerBottomL{
	width: 20%;
	height: 100%;
}

.footerBottom .footerBottomM{
	width: 59%;
	height: 100%;
	
}

.footerBottom .footerBottomM{
	text-align: center;
}

.footerBottom .footerBottomM ul{
	/*text-align: center;*/
	list-style:none; /* 将默认的列表符号去掉 */
	padding-left: 0;
}

.footerBottomM ul li{
	margin-top: 10px;
}


.footerBottom .footerBottomM_1{
	width: 33%;
	height: 100%;
}

.footerBottom .footerBottomM_2{
	width: 33%;
	height: 100%;
}

.footerBottom .footerBottomM_3{
	width: 33%;
	height: 100%;
}

.footerBottom .footerBottomR{
	width: 20%;
	height: 100%;
}
.footerBottomR .footerBottomR_1{

	width: 48%;
}
.footerBottomR .footerBottomR_2{

	width: 50%;
}

.footerBottomD{
	width: 100%;
	background-color: white;
	/*margin-bottom: 10px;*/
	height: 60px;
	/*border: solid 1px;*/
	font-size: 1em;
	font-weight: bold;
}
