<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/login.css" />
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/top_bottom.css" />
		<script type="text/javascript" src="/DangDangBook/public/front_static/js/login.js"></script>
	</head>

	<body>
		<div class="mainDiv">
			<div class="topDiv">
				<div class="topLeftDiv">
					<img src="/DangDangBook/public/front_static/img/header/logo.png" />欢迎登录
				</div>
			</div>
			<div class="HlDiv">
				<div class="loginDiv">
					<form action="{:url('login/dologin')}" method="post" name=f>
						<div class="titleDiv">登录商场</div>
						<div class="registDiv">
							<a href="{:url('register/register')}">新用户注册</a>
						</div>
						<div class="whiteLine">	</div>
						<div class="inputDiv">
							<input class="inputClass" type="text" name="email" id="loginUserName" placeholder="请输入用户名(邮箱)" onfocus="this.placeholder='';" onblur="userNameOnblur(this);" />
						</div>
						<div class="inputDiv">
							<input class="inputClass" type="password" name="passw" id="loginPassword" placeholder="请输入密码" onfocus="this.placeholder='';" onblur="passwordOnblur(this);" />
						</div>
						<div class="inputDiv">
							<input class="buttonClass" type="submit" name="s" id="loginSubmit" value="登录"  />
						</div>
						<div class="errDiv"><span class="showError" id="showError" name="showError"></span></div>
					</form>
				</div>
			</div>
			<iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/front_common/bottom.html" width="100%"  height="400px"></iframe>
		</div>
	</body>
</html>
