.mainDiv{
	width: 1400px;

	margin:0px auto;

}
/*titleDiv，用于显示学子商城系统字样*/
.titleDiv{
	width: 20%;
	height: 70px;
	background-color: rgb(54,127,168);
	font-family:"微软雅黑" ;
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	color: white;
	float: left;
}
/*topDiv,主要用于显示用户名等*/
.topDiv{
	width: 80%;
	height: 70px;
	background-color: rgb(60,141,188);
	line-height: 70px;
	float: left;
}

.topDiv .titleDiv img{
	width: 70px;
	height: 70px;
}

.topDiv .menuLogoDiv{
	width: 70px;
	height: 70px;
	float: left;
}

.topDiv .userNameDiv{
	width: 260px;
	height: 70px;
	font-family:"微软雅黑";
	text-align: right;
	font-size: 30px;
	
	line-height: 70px;
	float: right;
	margin-right:10px;
	color: white;
}

.topDiv .userNameDiv img{
	width: 70px;
	height: 70px;
	vertical-align: middle;
}
/*shellDiv，左菜单栏的外壳*/
.shellDiv{
	width: 20%;
	height: 600px;
	float: left;
	background-color: rgb(26,34,37);
}

.shellDiv .menuDiv{
	width: 100%;
	height: 100%;

	background-color: rgb(34,45,49);
	float: left;
}

.shellDiv .menuDiv .itemDiv{
	width: 310px;
	height: 60px;
	text-align: left;
	line-height: 60px;
	margin-left:10px;
}

.shellDiv .menuDiv .itemDiv a{
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.shellDiv .menuDiv .itemDiv span.linkName{
	text-decoration: none;
	color: white;
	font-family:"微软雅黑" ;
	font-size: 30px;
	
}

.shellDiv .menuDiv .itemDiv span.go{
	text-decoration: none;
	color: white;
	float: right;
	font-size: 30px;
	margin-right: 10px;
}
/*bodyDiv及其内部样式的内容*/
.bodyDiv{
	width: 80%;
	height: 600px;
	float: right;
	/*margin-top: 70px;*/
	/*padding-left: 20px;*/
	/*margin-left: 20px;*/
	/*background-color: rgb(236,239,244);*/
	z-index: 1;
}

.contentDiv{
	/*margin-left: 10px;*/
	width:100%;
	height:89%;
	float:left;
}

.bodyDiv .locationDiv{
	width: 99%;
	height: 11%;
	line-height: 90px;
	float: right;
	text-align: right;
	color: rgb(106,107,111);
	font-size: 20px;
	margin-right:20px ;
}

.bodyDiv .locationDiv img{
	vertical-align: middle;
}

.bodyDiv .locationDiv .lastStep{
	text-decoration: none;
	color: black;
	font-size:20px ;
}

/*footDiv，网页的尾部*/
.footDiv{
	width: 80%;
	height: 40px;
	border-top: solid 2px;
	border-top-color: rgb(244,244,244);
	float: left;
	margin-left: 20%;

}

.footDiv .copyright{
	height: 40px;
	line-height: 40px;
	float: left;
	font-size: 20px;
	font-family: "微软雅黑";
}

.footDiv .owner{
	float: left;
	line-height: 40px;
	font-size: 20px;
	font-family: "微软雅黑";
	float: left;
	color: rgb(115,163,218);
}

.footDiv .slogan{
	height: 40px;
	line-height: 40px;
	float: right;
	font-size: 20px;
	font-family: "微软雅黑";
}

.iframeTop{
	
}

.iframeLeft{
	margin-top: 70px;
}

.iframeBottom{
	margin-top: 850px;
}

