*,div,p,ul,li,a,input{
	margin: 0px; /*上下左右都为0px*/
	padding: 0px;
}

body{
	width: 100%;
	margin: 0px auto;
}

/*div,p,a,span{
	border: solid 1px;
}



ul,li{
	border: solid #00cc00 1px;
	list-style:none;
}*/
