<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>购物车</title>
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/cart.css" />
		<link rel="stylesheet" href="/DangDangBook/public/front_static/css/top_bottom.css" />
		<script type="text/javascript" src="/DangDangBook/public/front_static/js/cart.js"></script>
	</head>

	<body>
		<div class="mainDiv">
			<iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/front_common/top.html" width="100%"  height=""></iframe>
			<form action="orderConfirm.html" method="get">
				<div class="bodyDiv">
					<div class="mainTitle">
						<!--
             		作者：罗梓浩
             		时间：2018-10-09
             		描述：显示购物车，已选商品数等
            	-->
						<div class="title">购物车</div>
						<div class="detail"><span class="totalCount">已选<span class="total" name="totalCount">0</span>件商品</span><span class="totalPrice">合计（不含运费）:<span class="total" name="totalPrice">0.00元</span></span>
						</div>
					</div>

					<div class="cartHead">
						<!--
            		作者：罗梓浩
            		时间：2018-10-09
            		描述：购物车表的表头，有全选，每一列的列名等等
            	-->
						<div class="allSelectDiv"><input class="allSelectCheckBox" type="checkbox" onclick="allSelect(this);" />全选</div>
						<div class="goodsDiv">商品</div>
						<div class="propertyDiv">单价(元)</div>
						<div class="propertyDiv">数量</div>
						<div class="propertyDiv">金额</div>
						<div class="propertyDiv">操作</div>
					</div>

					<div class="cartTable">
						<!--
            		作者：罗梓浩
            		时间：2018-10-09
            		描述：购物车表单的主体，用于展示自己购物车内的商品
            	-->
						<div class="goodItem">
							<!--
                    	作者：罗梓浩
                    	时间：2018-10-09
                    	描述：每个货物占一个的Item，用来显示货物信息
                    -->
							<div class="selectDiv"><input type="checkbox" class="goodsCheckBox" onclick="itemSelect(this);" /></div>
							<div class="goodsInformationDiv">
								<div class="goodsPectureDiv"><img class="goodsImage" src="/DangDangBook/public/front_static/img/goods/9787115130228/collect.jpg" /></div>
								<div class="goodsDeatil">
									<p class="goods" name="goodsName">C Primer Plus</p>
									<p class="goods" name="author">作者：[美]普拉塔(Prata S.) 著;云巅工作室编</p>
								</div>
							</div>
							<div class="othersDiv" name="goodsPrice">￥49.8</div>
							<div class="othersDiv" name="goodsCount">
								<input class="countInput" type="button" name="countSubtract" value="-" onclick="subtractClick(this)" />
								<input class="countInput" type="text" name="countText" value="1" onblur="updateCount(this)"/>
								<input class="countInput" type="button" name="countAdd" value="+" onclick="addClick(this)" />
							</div>
							<div class="othersDiv" name="goodsTotalPrice">
								￥49.8
							</div>
							<div class="othersDiv" >
								<span onclick="deleteNode(this);">删除</span>
							</div>
						</div>
						<div class="goodItem">
							<!--
                    	作者：罗梓浩
                    	时间：2018-10-09
                    	描述：每个货物占一个的Item，用来显示货物信息
                    -->
							<div class="selectDiv"><input type="checkbox" class="goodsCheckBox" onclick="itemSelect(this);" /></div>
							<div class="goodsInformationDiv">
								<div class="goodsPectureDiv"><img class="goodsImage" src="/DangDangBook/public/front_static/img/goods/9787111526285/collect.jpg" /></div>
								<div class="goodsDeatil">
									<p class="goods" name="goodsName">Go程序设计语言(英文版)</p>
									<p class="goods" name="author">作者：[美]艾伦A.A.多诺万 等 著</p>
								</div>
							</div>
							<div class="othersDiv" name="goodsPrice">￥64.7</div>
							<div class="othersDiv" name="goodsCount">
								<input class="countInput" type="button" name="countSubtract" value="-" onclick="subtractClick(this)" />
								<input class="countInput" type="text" name="countText" value="1" onblur="updateCount(this)"/>
								<input class="countInput" type="button" name="countAdd" value="+" onclick="addClick(this)" />
							</div>
							<div class="othersDiv" name="goodsTotalPrice">
								￥64.7
							</div>
							<div class="othersDiv" >
								<span onclick="deleteNode(this);">删除</span>
							</div>
						</div>
						<div class="goodItem">
							<!--
                    	作者：罗梓浩
                    	时间：2018-10-09
                    	描述：每个货物占一个的Item，用来显示货物信息
                    -->
							<div class="selectDiv"><input type="checkbox" class="goodsCheckBox" onclick="itemSelect(this);" /></div>
							<div class="goodsInformationDiv">
								<div class="goodsPectureDiv"><img class="goodsImage" src="/DangDangBook/public/front_static/img/goods/9787111213826/collect.jpg" /></div>
								<div class="goodsDeatil">
									<p class="goods" name="goodsName">Java编程思想</p>
									<p class="goods" name="author">作者：[美]埃克尔,译者:陈昊鹏 编</p>
								</div>
							</div>
							<div class="othersDiv" name="goodsPrice">￥86.4</div>
							<div class="othersDiv" name="goodsCount">
								<input class="countInput" type="button" name="countSubtract" value="-" onclick="subtractClick(this)" />
								<input class="countInput" type="text" name="countText" value="1" onblur="updateCount(this)"/>
								<input class="countInput" type="button" name="countAdd" value="+" onclick="addClick(this)" />
							</div>
							<div class="othersDiv" name="goodsTotalPrice">
								￥86.4
							</div>
							<div class="othersDiv" >
								<span onclick="deleteNode(this);">删除</span>
							</div>
						</div>
						<div class="goodItem">
							<!--
                    	作者：罗梓浩
                    	时间：2018-10-09
                    	描述：每个货物占一个的Item，用来显示货物信息
                    -->
							<div class="selectDiv"><input type="checkbox" class="goodsCheckBox" onclick="itemSelect(this);" /></div>
							<div class="goodsInformationDiv">
								<div class="goodsPectureDiv"><img class="goodsImage" src="/DangDangBook/public/front_static/img/goods/9787111532644/index.jpg" /></div>
								<div class="goodsDeatil">
									<p class="goods" name="goodsName">架构即未来</p>
									<p class="goods" name="author">作者：[美]马丁L.阿伯特(MartinL.Abbott),迈克尔T.费舍尔(Michael.Fisher) 著;陈斌  译</p>
								</div>
							</div>
							<div class="othersDiv" name="goodsPrice">￥81.0</div>
							<div class="othersDiv" name="goodsCount">
								<input class="countInput" type="button" name="countSubtract" value="-" onclick="subtractClick(this)" />
								<input class="countInput" type="text" name="countText" value="1" onblur="updateCount(this)"/>
								<input class="countInput" type="button" name="countAdd" value="+" onclick="addClick(this)" />
							</div>
							<div class="othersDiv" name="goodsTotalPrice">
								￥81.0
							</div>
							<div class="othersDiv" >
								<span onclick="deleteNode(this);">删除</span>
							</div>
						</div>
						<div class="goodItem">
							<!--
                    	作者：罗梓浩
                    	时间：2018-10-09
                    	描述：每个货物占一个的Item，用来显示货物信息
                    -->
							<div class="selectDiv"><input type="checkbox" class="goodsCheckBox" onclick="itemSelect(this);" /></div>
							<div class="goodsInformationDiv">
								<div class="goodsPectureDiv"><img class="goodsImage" src="/DangDangBook/public/front_static/img/goods/9787115435101/collect.jpg" /></div>
								<div class="goodsDeatil">
									<p class="goods" name="goodsName">Python数据科学指南</p>
									<p class="goods" name="author">作者：印度,Gopi,Subramanian, 萨伯拉曼尼安 著;方延风,刘丹 译</p>
								</div>
							</div>
							<div class="othersDiv" name="goodsPrice">￥66.2</div>
							<div class="othersDiv" name="goodsCount">
								<input class="countInput" type="button" name="countSubtract" value="-" onclick="subtractClick(this)" />
								<input class="countInput" type="text" name="countText" value="1" onblur="updateCount(this)"/>
								<input class="countInput" type="button" name="countAdd" value="+" onclick="addClick(this)" />
							</div>
							<div class="othersDiv" name="goodsTotalPrice">
								￥66.2
							</div>
							<div class="othersDiv" >
								<span onclick="deleteNode(this);">删除</span>
							</div>
						</div>
					</div>
					<div class="cartFoot">
						<div class="allSelectDiv"><input type="checkbox" onclick="allSelect(this);" class="allSelectCheckBox" />全选</div>
						<div class="detail"><span class="totalCount">已选<span class="total" name="totalCount">0</span>件商品</span><span class="totalPrice">合计（不含运费）:<span class="total" name="totalPrice">0.00元</span></span></div>
						<div class="submitButton"><input onclick="window.location.href='orderConfirm.html'" type="submit" value="提交订单" /></div>
					</div>
				</div>
			</form>
			<iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/front_common/bottom.html" width="100%"  height="400px"></iframe>
				
			<script type="text/javascript" src="/DangDangBook/public/front_static/js/cart.js"></script>
		</div>
	</body>

</html>