<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/welcome.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/frame.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/unify.css" />
	</head>
	<body>
		<div class="mainDiv">
			<iframe class="iframeTop" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/back_common/top.html" width="100%"  height="80px" style="z-index: 3;"></iframe>
				
			<iframe class="iframeLeft" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/back_common/left.html" width=""  height="830px" style="z-index: 4;"></iframe>
				
			<div class="bodyDiv">
                <div class="contentDiv">
                	<!--
                    	作者：罗梓浩
                    	时间：2018-10-10
                    	描述：写自己的内容
                    -->
                    <div class="welcomDiv">欢迎使用！</div>
                </div>
			</div>
			
			<iframe class="iframeBottom" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/back_common/foot.html" width="100%"  height="100px" style="z-index: 3;"></iframe>
		</div>
	</body>
</html>
