<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/welcome.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/frame.css" />
		
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/bootstrap.css" />
	</head>
	<body>
		<div class="mainDiv">
			{include file="./public/back_common/top.html"/}
				
			{include file="./public/back_common/left.html"/}
				
			<div class="bodyDiv">
                <div class="contentDiv">
                	<!--
                    	作者：罗梓浩
                    	时间：2018-10-10
                    	描述：写自己的内容
                    -->
                    <div class="welcomDiv">欢迎使用！</div>
                </div>
			</div>
			
			{include file="./public/back_common/foot.html"/}
		</div>
	</body>
</html>
