<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/welcome.css" />
		<link rel="stylesheet" href="css/frame.css" />
		<link rel="stylesheet" href="css/unify.css" />
	</head>
	<body>
		<div class="mainDiv">
			<iframe class="iframeTop" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="top.html" width="100%"  height="80px" style="z-index: 3;"></iframe>
				
			<iframe class="iframeLeft" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="left.html" width=""  height="830px" style="z-index: 4;"></iframe>
				
			<div class="bodyDiv">
                <div class="contentDiv">
                	<!--
                    	作者：罗梓浩
                    	时间：2018-10-10
                    	描述：写自己的内容
                    -->
                    <div class="welcomDiv">欢迎使用！</div>
                </div>
			</div>
			<div class="footDiv">
				<span class="copyright">Copyright©2021</span>
				<span class="owner">C212</span>
				<span class="copyright">.All rights reserved</span>
				<span class="slogan">缔造年轻人的中国梦</span>
			</div>
		</div>
	</body>
</html>
