<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>管理系统登录</title>
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/top_bottom.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/manageLogin.css" />
	</head>
	<body>
		<div class="mainDiv">
			<div class="title">
				学子讹人管理系统
			</div>
			<div class="loginDiv">
				<div class="loginTitle">管理员登录</div>
				<div class="inputDiv">
				<form action="{:url('login/dologin')}" method="post" name=f>
					<input type="text" id="email" name="email" placeholder="Email"/>
					<input type="password" id="pwd" name="pwd" placeholder="password" />
					<input type="submit" value="登录" class="buttonDiv"/>
					</form>
				</div>
				<p class="forgetDiv"><a href="">忘记密码?</a></p>
			</div>
		</div>
	</body>
</html>
