<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/frame.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/comment_list.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/product-list.css" />

		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/bootstrap.css" />
		
		<script type="text/javascript" src="/DangDangBook/public/back_static/js/order-list.js" ></script>
		<script type="text/javascript" src="/DangDangBook/public/back_static/js/jquery-1.4.2.js"> </script>
		<script type="text/javascript" src="/DangDangBook/public/back_static/js/jquery-1.8.3.min.js"> </script>
		
		
		<script>
		
		//显示回复框
		function reply(commentID)
		{
			var panelCommentID=$('#panelCommentID');
			panelCommentID.val(commentID);
			var val=panelCommentID.val();
			//alert(val);
			if($("#add-panel").is(':hidden')){　　//如果node是隐藏的则显示node元素，否则隐藏
			　　document.getElementById('add-panel').style.display="block";	
			}else{
				document.getElementById('add-panel').style.display="none";
			}
		}
		
		//用ajax修改数据
		function submitReply()	
		{
			//要回复的commentID
			var panelCommentID=$('#panelCommentID').val();
			//回复内容
			var reply=$('#reply').val();
			if(reply=="")
			{
				alert("内容不能为空!");
				return ;
			}
			document.getElementById('add-panel').style.display="none";
			//修改数据库
			$.post("{:url('commentmanager/reply')}",{"commentID":panelCommentID,"reply":reply},function(data)
				{
					if(data=="success")
					{
						alert("回复成功！");	
						window.location.reload();
					}else{
						alert("回复失败！");	
					}
				}
			);
			
			//alert(addr);
		}
		//隐藏回复框
		function closeReply()
		{
			document.getElementById('add-panel').style.display="none";
		}
		
		//显示内容
		function showContent(content)
		{
			alert(content);
		}
		
		//可拖动div
		function dragFunc(id) {
		    var Drag = document.getElementById(id);
		    Drag.onmousedown = function(event) {
		        var ev = event || window.event;
		        event.stopPropagation();
		        var disX = ev.clientX - Drag.offsetLeft;
		        var disY = ev.clientY - Drag.offsetTop;
		        document.onmousemove = function(event) {
		            var ev = event || window.event;
		            Drag.style.left = ev.clientX - disX + "px";
		            Drag.style.top = ev.clientY - disY + "px";
		            Drag.style.cursor = "move";
		        };
		    };
		    Drag.onmouseup = function() {
		        document.onmousemove = null;
		        this.style.cursor = "default";
		    };
		};
		
		</script>
	</head>
	<body>
	

				
		<div class="mainDiv">
			{include  file="./public/back_common/top.html"/}
			{include  file="./public/back_common/left.html"/}
				
				
			<div class="bodyDiv">
			
               <div class="locationDiv">
                	<!--自己按自己的图改下面的文本内容-->
                	<img src="/DangDangBook/public/back_static/img/logo.png"/><a href="#" class="lastStep">商品管理</a> > <!--这里有一个符号-->
                	<a class="lastStep">所有商品</a> ><!--这里有一个符号-->
                	<a class="lastStep">评价编辑</a>
                </div>
                
               

                <div class="contentDiv">
                
                		<div class="iFrameDiv">
                		
                			 <table class="table table-striped table-bordered">
				         <thead>
				           <tr>
				             <th>评价编号</th>
				             <th>评价用户</th>
				             <th>评价内容</th>
				             <th>评价时间</th>
				             <th>操作</th>
				           </tr>
				         </thead>
				         <tbody>
				           {foreach $comments as $comment}
				           <tr>
				             <td>{$comment.commentID}</td>
				             <td>{$comment.email}</td>
				             <td class="hideOverFlow"><a href="javascript:showContent('{$comment.content}')">{$comment.content}</a></td>
				             <td>{$comment.sendTime}</td>
				              
				              <td>
				              {if $comment.reply eq ""}
				              	<a href='javascript:reply({$comment.commentID})'>
				              	<button type="button" class="btn btn-link">回复</button></a>
				              	{else/}
				              	<a href="javascript:showContent('{$comment.reply}')">
				              	<button type="button" class="btn btn-link">已回复</button></a>
				              	{/if}
				              </td>
				           </tr>
				           
				           
				           {/foreach}
				         </tbody>
				         
				       </table>
                		</div>
                		
                		<div class="changePageDiv">
                		<div class="changePageButtonDiv">
                			{$page}
                		</div>
                	</div>
                	</div>
                	
                	
					
					<div id="add-panel" class="editBox" align="center">
				
						<form method="post">
							<input id="panelCommentID" style="display:none;" value="0"></input>
							<div class="commentContent"><textarea id="reply" name="reply"></textarea></div>
							<div class="cancel"><a href="javascript:closeReply()">取消</a></div>
							<div class="submitBtn"><a id="edit-btn" href="javascript:submitReply()" >提交</a></div>
						</form>
					</div>
                </div>
                {include file="./public/back_common/foot.html"/}
			</div>
			<script>dragFunc("add-panel");</script>
			
		</div>
	</body>
</html>
