<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/frame.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/orderDetail.css" />
				<link rel="stylesheet" href="/DangDangBook/public/back_static/css/bootstrap.css" />
		<script type="text/javascript" src="/DangDangBook/public/back_static/js/unify.js"></script>

	</head>

	<body>
		
		 <table class="table table-striped">
	<thead>
		<tr>
		<td>数量</td>
		<td>名称</td>
		<td>商品编号</td>
		<td>商品描述</td>
		<td >单价</td>
		</tr>
	</thead>
	<tbody >
		 {volist name='book' id='user'}
		<tr>
			<td>{$user.num}</td>
            <td>{$user.bName}</td>
            <td>{$user.orderID}</td>
            <td>作者：{$user.bAuthor} 出版社：{$user.bPublisher} 出版时间：{$user.bPubTime}
            <td>{$user.bPriceS}</td>
            </tr>
		{/volist}	 
	</tbody> 
	<!-- <tfoot >
	<tr>
		<td>数量</td>
		<td>名称</td>
		<td>商品编号</td>
		<td>商品描述</td>
		<td >单价</td>
		</tr>
	</tfoot> -->
</table>
		
			
	</body>

</html>