<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/frame.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/main.css" />
		
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/order-list.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/product-list.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/bootstrap.css" />
		<script type="text/javascript" src="/DangDangBook/public/back_static/js/order-list.js" ></script>
	</head>
	<body onload="changePage($('1'));">
		<div class="mainDiv">
			{include file="./public/back_common/top.html"/}
				
			{include file="./public/back_common/left.html"/}
				
			<div class="bodyDiv">
                <div class="locationDiv"><!--#3C8DBC-->
                	<img src="/DangDangBook/public/back_static/img/logo.png"/><a href="#" class="lastStep">订单管理</a> >所有订单
                </div>
                <div class="contentDiv">
                	
                	
                	<div class="orderTable orderlistTable"> 
                		<div class="iFrameDiv">
                		<form class="form-inline" role="form" method="get">
					  <div class="form-group">
					    <label class="sr-only" for="orderID">订单编号</label>
					    <input type="text" class="form-control" id="orderID" name="orderID" placeholder="订单编号">
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="orderstatus">订单状态</label>
					    <input type="text" class="form-control" id="orderStatus" name="orderStatus" placeholder="订单状态">
					  </div>
					  <button type="submit" class="btn btn-warning">查询</button>
					  <button  class="btn btn-default" onclick="history.go(-1);" >返回</button>
					</form>
					
					<table class="table table-striped">
						<thead>
							<tr>
							<td>订单编号</td>
							<td>邮箱</td>
							<td>顾客编号</td>
							<td>订单总额</td>
							<td >订单状态</td>
							<td>物流编号</td>
							<td>创建时间</td>
							</tr>
						</thead>
						<tbody>
						 {volist name='resu' id='user'}
							<tr>
								<td>{$user.orderID}</td>
					            <td>{$user.email}</td>
					            <td>{$user.custID}</td>
					            <td>{$user.totalPay}</td>
					            <td>{$user.orderStatus}</button></td>
					             <td>{$user.packageID}</td>
					            <td>{$user.createTime}</td>
					             
					            <td><a href='{:url('Ordermanager/orderDetail')}?oi={$user.orderID} &ct={$user.createTime} &tp={$user.totalPay} &os={$user.orderStatus} &ci={$user.custID} &pi={$user.packageID}' >
					            <input type="button"  {if condition="$user.orderStatus eq '未发货' "} value="编辑" class="btn btn-warning" style="font-size:12px;"
					            {else }value="查看" class="btn btn-info" style="font-size:12px;"{/else}{/if}
					            ></a>
							</tr>
							{/volist}	
						</tbody>
					</table>
                		</div>
                	 </div>
                	 <div class="changePageDiv">
						<div class="changePageButtonDiv">
						{$resu->render()}
						</div>
						
					</div>
					
			    </div>
			    
			    
			</div>
			{include file="./public/back_common/foot.html"/}
		</div>
	</body>
</html>
