<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/frame.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/main.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/order-list.css" />
		<script type="text/javascript" src="/DangDangBook/public/back_static/js/order-list.js" ></script>
	</head>
	<body onload="changePage($('1'));">
		<div class="mainDiv">
			<iframe class="iframeTop" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/back_common/top.html" width="100%"  height="80px" style="z-index: 3;"></iframe>
				
			<iframe class="iframeLeft" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/back_common/left.html" width=""  height="830px" style="z-index: 4;"></iframe>
				
			<div class="bodyDiv">
                <div class="locationDiv"><!--#3C8DBC-->
                	<img src="/DangDangBook/public/back_static/img/logo.png"/><a href="#" class="lastStep">订单管理</a> >所有订单
                </div>
                <div class="contentDiv">
                	<div class="orderTable orderlistTable">
                		<div class="orderTableTitle">
	            			<ul>
	            				<li class="orderNum">订单编号</li>
	            				<li class="orderCondition">订单状态</li>
	            				<li class="createDate">创建时间</li>
	            				<li class="orderAmount">订单总额</li>
	            				<li class="operation">可选操作</li>
	            			</ul>
                		</div>
                		<div class="iFrameDiv">
                			<!-- 
                				订单表，myorder表，
                				用ul、li组合列出来
                			 -->
                		</div>
                		<div class="orderTableTitle">
	            			<ul>
	            				<li class="orderNum">订单编号</li>
	            				<li class="orderCondition">订单状态</li>
	            				<li class="createDate">创建时间</li>
	            				<li class="orderAmount">订单总额</li>
	            				<li class="operation">可选操作</li>
	            			</ul>
                		</div>
                	</div>
                	<div class="changePageDiv">
                		<span>第<font id="page"> 1 </font>页至<font id="order"> 10 </font>条(共<font> 64 </font>条)</span>
                		<div class="changePageButtonDiv">
                			<ul>
                				<li><input type="button" value="首页" class="skipPage cheackFalse" id="firstPage" onclick="toFirstPage(this);"></li>
                				<li><input type="button" value="上一页" class="jumpPage cheackFalse" id="upPage" onclick="UpPage(this);"></li>
                				<li><input type="button" value="1" class="pageNum cheackTrue" id="1"  onclick="changePage(this);"></li>
                				<li><input type="button" value="2" class="pageNum cheackFalse" id="2" onclick="changePage(this);"></li>
                				<li><input type="button" value="3" class="pageNum cheackFalse" id="3" onclick="changePage(this);"></li>
                				<li><input type="button" value="4" class="pageNum cheackFalse" id="4" onclick="changePage(this);"></li>
                				<li><input type="button" value="5" class="pageNum cheackFalse" id="5" onclick="changePage(this);"></li>
                				<li><input type="button" value="6" class="pageNum cheackFalse" id="6" onclick="changePage(this);"></li>
                				<li><input type="button" value="7" class="pageNum cheackFalse" id="7" onclick="changePage(this);"></li>
                				<li><input type="button" value="下一页" class="jumpPage cheackFalse" id="downPage" onclick="NextPage(this);"></li>
                				<li><input type="button" value="尾页" class="skipPage cheackFalse" id="lastPage" onclick="toLastPage(this);"></li>
                				 
                			</ul>
                		</div>
                	</div>

                </div>
			</div>
			<iframe class="iframeBottom" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 
				SCROLLING=no src="/DangDangBook/public/back_common/foot.html" width="100%"  height="100px" style="z-index: 3;"></iframe>
		</div>
	</body>
</html>
