<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/frame.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/orderDetail.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/bootstrap.css" />

		<script type="text/javascript" src="/DangDangBook/public/back_static/js/unify.js"></script>
		
	</head>

	<body>
		<div class="mainDiv">
			{include file="./public/back_common/top.html"/}
				
			{include file="./public/back_common/left.html"/}
			<div class="bodyDiv">
				<div class="locationDiv">
					<!--自己按自己的图改下面的文本内容-->
					<img src="/DangDangBook/public/back_static/img/logo.png" />
					<a href="#" class="lastStep">订单管理</a>
					>
					<a href="#" class="lastStep">所有订单</a>
					>查看订单
				</div>
				<div class="contentDiv">
					<!--
                    	作者：罗梓浩
                    	时间：2018-10-10
                    	描述：写自己的内容
                    -->
					<div class="barTitle">
						<div class="leftTitle">订单详情</div>
						<div class="rightDate">日期：{$ctt}</div>
						<hr />
					</div>
					<div class="receiverInfo">
						<div class="info">
							<div class="subTitle">收件人</div>
							<ul>
								<li>
									<span class="boldType">姓名：</span>
									<span class="lightType">{$da.custName}</span>
								</li>
								<li>
									<span class="boldType">地址：</span>
									<span class="lightType">{$da.custAddress}</span>
						</li>
						<li>
							<span class="boldType">电话：</span>
									<span class="numLine">{$da.custMobile}</span>
								</li>
							</ul>
						</div>
						<div class="info">
							<div class="subTitle"><span>#{$oi}</span><input type="button" value="返回" onclick="history.go(-1)" style="align:right;float:right;background-color: #4CAF50;border: none;color: white;padding: 5px 15px;text-align: right;text-decoration: none;
 									display: inline-block;font-size: 16px;"></div>
							
							<ul>
								<li>
									<span class="boldType">创建时间：</span>
									<span class="lightType">{$ct}</span>
								</li>
								<li>
									<span class="boldType">订单总额：</span>
									<span class="lightType"></span>
								¥{$tp}<!-- <span id="totalPrice" ></span> -->
									
								</li>
								<li>
									<span class="boldType status">订单状态：</span>
									<span class="lightType">
										 <div><input  disabled="disabled" name="status" type="radio" {if condition="$nuu eq 0"}checked="checked" {/if} />未付款</div>
										<div><input disabled="disabled" name="status"  type="radio" {if condition="$nuu eq 1"}checked="checked" {/if}/>未发货</div>
										<div><input disabled="disabled" name="status" type="radio" {if condition="$nuu eq 2"}checked="checked" {/if}/>已发货</div>
										<div><input disabled="disabled" name="status" type="radio" {if condition="$nuu eq 3"}checked="checked" {/if}/>已收货</div>
									</span>
								</li>
								<br>
								<li>
									<span class="boldType status">快递单号：</span>
									<span class="lightType">
									<form method="post"   action='{:url('Ordermanager/datachange')}?oi={$oi}'>
								 <span  class="totalPrice"  ><input type="text" name="fahuo" 
								 {if condition="$nuu eq 0"} placeholder="0" disabled="disabled"
								 {elseif condition="$nuu eq 2"} placeholder={$pi} disabled="disabled"{/elseif}
								 {elseif condition="$nuu  eq 3 "} placeholder={$pi} disabled="disabled"{/elseif}{/if}
								></span>
								
								 {if condition="$nuu eq 1"} 
								 <span><input type="submit"  value="发货" 
								  style="background-color: #4CAF50;border: none;color: white;padding: 5px 15px;text-align: right;text-decoration: none;
 									display: inline-block;font-size: 16px;">
								  </span>
								  {/if} 
								  </form> 
									</span> 
								</li>
							</ul>
						</div>
						<div class="goodsInfo" >
							
							 <table class="table table-striped">
								<thead>
									<tr>
									<td>数量</td>
									<td>名称</td>
									<td>商品编号</td>
									<td>商品描述</td>
									<td >单价</td>
									</tr>
								</thead>
								<tbody>
		 						{volist name='book' id='user'}
								<tr>
									<td>{$user.num}</td>
            						<td>{$user.bName}</td>
            						<td>{$user.bookID}</td>
            						<td>作者：{$user.bAuthor} 出版社：{$user.bPublisher} 出版时间：{$user.bPubTime}
            						<td>{$user.bPriceS}</td>
            					</tr>
								{/volist}	 
								</tbody> 
							</table>
							
						</div>

					</div>
				</div>
			</div>
			{include file="./public/back_common/foot.html"/}
		</div>
		<script type="text/javascript" src="/DangDangBook/public/back_static/js/orderDetail.js"></script>
	</body>

</html>