<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/unify.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/frame.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/productAdd.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/hjs.css" />
		<link rel="stylesheet" href="/DangDangBook/public/back_static/css/bootstrap.css" />
		<script type="text/javascript" src="/DangDangBook/public/back_static/js/hjs.js"></script>
		<script>
		function getFileUrl(sourceId) {
            var url;
            if (navigator.userAgent.indexOf("MSIE")>=1) { // IE
                url = document.getElementById(sourceId).value;
            } else if(navigator.userAgent.indexOf("Firefox")>0) { // Firefox
                url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
            } else if(navigator.userAgent.indexOf("Chrome")>0) { // Chrome
                url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
            }
            return url;
        }
        function preImg(sourceId, targetId) {
            var url = getFileUrl(sourceId);
            var imgPre = document.getElementById(targetId);
            imgPre.src = url;
        }		
		</script>
		
	</head>
	<body>
		<div class="mainDiv">
			{include file="./public/back_common/top.html"/}
				
			{include file="./public/back_common/left.html"/}
			<div class="bodyDiv">
                <div class="locationDiv">
                	<!--自己按自己的图改下面的文本内容-->
                	<img src="/DangDangBook/public/back_static/img/logo.png"/><a href="#" class="lastStep">商品管理</a> > <!--这里有一个符号-->
                	<a class="lastStep">所有商品</a> ><!--这里有一个符号-->
                	<a class="lastStep">信息编辑</a>
                </div>
                <div class="contentDiv">
                	<!--
                    	作者：罗梓浩
                    	时间：2018-10-10
                    	描述：写自己的内容
                    -->
                    <!-- {:url('bookmanager/add')} -->
                    <form method="post" action="{:url('bookmanager/edit')}?bookID={$bookID}" class="informationForm" onsubmit="return onSubmit()" enctype='multipart/form-data'>
                    	
                    	<div class="informationTitle">
                    		信息编辑
                    		<div class="submitDiv">
                    			<p class="report" id="report" style="color: red;"></p>
                    		 	<input type="submit"  value="保存" />
                    		</div>
                    	</div>
                    	
                    	<div class="inputDiv">
                    		<!--
                            	作者：罗梓浩
                            	时间：2018-10-11
                            	描述：正则表达式判断纯数字编号
                            -->
                    		<input name="bookID" type="text" value="{$bookID}" readonly="readonly" class="inputText" placeholder="图书编号" onblur="bookNumberOnblur(this)"/>
                    	</div>
                    	<div class="inputDiv">
                    		<input name="bName" type="text" value="{$bName}" class="inputText" placeholder="书名" onblur="bookNameOnblur(this)"/>
                    	</div>
                    	<div class="inputDiv">
                    		<input name="bAuthor" type="text" value="{$bAuthor}" class="inputText" placeholder="作者" onblur="bookAuthorOnblur(this)"/>
                    	</div>
                    	<div class="inputDiv">
                    		<input name="bPriceS" type="text" value="{$bPriceS}" class="inputText" placeholder="优惠价" onblur=""/>
                    	</div>
                    	<div class="inputDiv">
                    		<input name="bPriceB" type="text" value="{$bPriceB}" class="inputText" placeholder="原价" onblur=""/>
                    	</div>
                    	<div class="inputDiv">
                    		<input name="bPublisher" type="text" value="{$bPublisher}" class="inputText" placeholder="出版社" onblur="bookPublishComplyOnblur(this)"/>
                    	</div>
                    	<div class="inputDiv">
                    		<input name="bPubTime" type="text" value="{$bPubTime}" class="inputText" placeholder="出版时间" onblur=""/>
                    	</div>
                    	<div class="inputDiv">
                    		<select name="bClass" class="inputText" value="">
                    			
                    			<!-- 
                    				用Book表里面的class显示
                    			 -->
                    			<option value="">类型</option>
                    			<option value="文学">文学</option>
                    			<option value="建筑">建筑</option>
                    			<option value="社会科学">社会科学</option>
                    			<option value="工业技术">工业技术</option>
                    		</select>
                    	</div>
                    	<div class="inputDiv">
                    		<input type="file" name="image" id="image" onchange="preImg(this.id,'photo');" />
							<img id="photo" src="{$bPicture}" style="display: block;border:1px solid #a0a0a0;height:240px;margin-top:20px;" />	
						</div>
	
	
                    	<div class="contentInfo">
                    		<textarea name="bContentInfo" rows="20" cols="60" placeholder="内容简介">{$bContentInfo}</textarea>
                    	</div>
                    	
                    	<div class="contentInfo">
                    		<textarea name="bAuthorInfo" rows="20" cols="60" placeholder="作者简介">{$bAuthorInfo}</textarea>
                    	</div>
                    	
                    </form>
                </div>
			</div>
			{include file="./public/back_common/foot.html"/}
		</div>
	</body>
</html>
